// Mixins
@mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    box-shadow: $shadows;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin user-select($value) {
    -webkit-user-select: $value;  /* Chrome all / Safari all */
    -moz-user-select: $value;     /* Firefox all */
    -ms-user-select: $value;      /* IE 10+ */
    user-select: $value;          /* Likely future */ 
}

@mixin display-grid($colums) {
    display: grid;
    align-items: center;
    grid-template-columns: $colums;
}