// Typography
$font-color: #263238;
$secondary-font-color: #546E7A;
$font-family: 'Roboto';
$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-large: 600;

// Colors
$dark-color: #263238;
$primary-color: #0E90D9;
$secondary-color:  #546E7A;
$info-color: #204d74;
$danger-color: #FF4D50;
$success-color:#53C41A;
$warning-color: #FBAD15;
$white: #FFFFFF;
$black: #000000;
$gray-color: #C1C2C3; // Can be modified
$link-color: #0E90D9;
$table-active-cell-color: #D4EDFB;
$border-color: #C1C2C3;
$control-border-color: #C7C7C7;
$brand-color: #0041FF;
$light-background-color: #F7F8F9;