@import "fonts";
@import "icons";
@import "variables";
@import "mixins";
@import "animations";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

body {
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;
    letter-spacing: -0.26px;
    line-height: 22px;
    background: $white;
}

a {
    color: $link-color;

    &:link,
    &:hover,
    &:visited,
    &:focus,
    &:active {
        // padding: 6px 0px;
        text-decoration: none;
        color: $primary-color;
    }
}

::selection {
    background-color: $primary-color;
    color: $white;
}

::-webkit-input-placeholder {
    color: $secondary-font-color;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: $secondary-font-color;
    opacity: 0.5;
}

::placeholder {
    color: $secondary-font-color;
    opacity: 0.5;
}

textarea {
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    font-size: $font-size-xxl;
    font-weight: $font-weight-medium;
    color: $font-color;
    margin-top: 0;
}

h2 {
    font-size: $font-size-xl;
    font-weight: $font-weight-medium;
    color: $font-color;
}

h3 {
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    color: $font-color;
}

h4 {
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: $font-color;
}

h5 {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $font-color;
}

.hide {
    display: none !important;
}

.btn {
    @include border-radius(4px);
    border: none;
    color: $white;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    font: inherit;
    font-weight: $font-weight-medium;
    display: inline-block;
    border: 2px solid transparent;
    padding: 10px 14px;

    &:hover,
    &:active,
    &:focus {
        opacity: 0.75;
    }

    &.btn-sm {
        height: 40px;
        padding: 7px 12px;
        font-size: $font-size-sm;
    }

    &.btn-md {
        padding: 10px 14px;
    }

    &.btn-lg {
        padding: 12px 18px;
        font-size: $font-size-xxl;
    }
    
    &.btn-xl {
        padding: 14px 22px;
        font-size: $font-size-xxl;
    }

    &.btn-primary {
        background: $primary-color;
        color: $white;
    }

    &.btn-primary-outline {
        background: $white;
        color: $primary-color;
        border: 2px solid $primary-color;
    }

    &.btn-secondary {
        background: $secondary-color;
        color: $white;
    }

    &.btn-secondary-outline {
        background: $white;
        color: $secondary-color;
        border: 2px solid $secondary-color;
    }

    &.btn-danger {
        background: $danger-color;
        color: $white;
    }

    &.btn-danger-outline {
        background: $white;
        color: $danger-color;
        border: 2px solid $danger-color;
    }

    &.btn-success {
        background: $success-color;
        color: $white;
    }

    &.btn-success-outline {
        background: $white;
        color: $success-color;
        border: 2px solid $success-color;
    }

    &.btn-warning {
        background: $warning-color;
        color: $white;
    }

    &.btn-warning-outline {
        background: $white;
        color: $warning-color;
        border: 2px solid $warning-color;
    }

    &.btn-white {
        background: $white;
        color: $primary-color;

        &.text-black {
            color: $black;
        }
    }

    &.btn-white-outline {
        background: $white;
        color: $primary-color;
        border: 2px solid $primary-color;
    }

    &:disabled,
    &[disabled="disabled"],
    &[disabled="disabled"]:hover,
    &[disabled="disabled"]:active {
        cursor: not-allowed;
        background: #b1b1ae;
        box-shadow: none;
        opacity: 1;
    }
}

.dropdown-list {
    width: 215px;
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 2px 5px 0 rgba(39 ,49, 58, .15);
    background-color: $white;
    position: absolute;
    display: none;
    z-index: 10;
    text-align: left;

    &.bottom-left {
        top: 42px;
        left: 0px;
    }

    &.bottom-right {
        top: 42px;
        right: 0px;
    }

    &.top-left {
        bottom: 0px;
        left: 42px;
    }

    &.top-right {
        bottom: 0px;
        right: 42px;
    }

    .dropdown-container {
        overflow-y: auto;

        ul {
            margin: 0px;
            list-style-type: none;
            padding: 0px;

            li {
                padding: 8px 12px;
                font-size: $font-size-md;
                cursor: pointer;
                color: $secondary-font-color;

                a {
                    &:link,
                    &:active,
                    &:visited,
                    &:focus {
                        color: $secondary-font-color;
                        display: block;
                    }
                }

                &:hover {
                    background-color: $primary-color;
                    color: $white;

                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}

.table {
    width: 100%;
    overflow-x: auto !important;

    .table-header {
        margin-bottom: 20px;
        @include display-grid(repeat(2, auto));

        h1 {
            margin-bottom: 0;
            display: inline-block;
        }

        .table-action {
            // display: block;
            text-align: right;

            .export-import {
                margin-right: 20px;
                cursor: pointer;

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-bottom: 2px;
                    vertical-align: middle;
                }

                span {
                    color: $secondary-font-color;
                }
            }

            button {
                max-height: 40px;
                padding: 8px 14px;
                max-height: 40px;
            }
        }
    }

    .table-body {
        .custom-design-container {
            right: 25px;
            width: 350px;
            padding: 10px;
            margin-top: 8px;
            position: absolute;
            background-color: $white;
            border: 1px solid $border-color;

            .form-group {
                margin: 20px 0;
                grid-gap: 5px;
                text-align: center;
                @include display-grid(150px auto 150px);

                &.date {
                    .date-container {
                        display: inline-block;

                        .control {
                            margin: 0;
                            height: 40px;
                        }

                        &::after {
                            top: calc(50% - 2px);
                        }
                    }
                }
            }

            i.close-icon {
                float: right;
                cursor: pointer;
            }
        }

        .checkbox {
            margin: 0;
            text-overflow: unset;
        }

        .empty-table {
            div {
                position: absolute;
                top: calc(50% - 50px);
                left: calc(50% - 75px);

                img {
                    width: 150px;
                }
    
                span {
                    display: block;
                    margin-top: 20px;
                }
            }
        }
    }

    table {
        @include border-radius(4px);

        width: 100%;
        border: none;
        text-align: left;
        margin-top: 20px;
        background: $white;
        table-layout: fixed;
        font-size: $font-size-md;
        border-collapse: collapse;
        
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

        th, td {
            width: 100%;
            padding: 10px;
            vertical-align: top;
            text-overflow: ellipsis;
            color: $secondary-font-color;
            border-right: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }

        thead {
            th {
                border-right: 0px;
                color: $dark-color;
                cursor: not-allowed;
                text-transform: capitalize;
                font-weight: $font-weight-medium;
                border-bottom: 1px solid rgba(193,194,195,.5);

                &.master-checkbox {
                    width: 41px;
                    text-overflow: unset;
                }

                &.id {
                    width: 80px;
                }

                &.actions {
                    width: 100px;
                    text-align: right;

                    .action {
                        display: inline-flex;
                    }

                    .icon {
                        cursor: pointer;
                        vertical-align: middle;
                    }
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid rgba(193, 194, 195, 0.5);

                &.active {
                    background-color: $table-active-cell-color;
                    border-bottom: 1px solid rgba(14, 144, 217,.35);
                }

                td {
                    border-right: 0px;
                    color: $dark-color;
                    border-bottom: none;
                    background-color: rgba(255,255,255,.5);
                    word-break: break-all;

                    &.empty {
                        text-align: center;
                    }

                    &.action-container {
                        a {
                            cursor: pointer;
                        }
                    }

                    .bold {
                        font-weight: $font-weight-medium;
                    }

                    &.action {
                        text-align: right;
                        
                        a {
                            cursor: pointer;
                            margin-right: 5px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }

                    .spinner-container {
                        margin-top: 5px;
                    }
                }

                &:last-child td {
                    border-bottom: 0;
                }

                &.active,
                &:hover {
                    td {
                        background-color: rgba(193,194,195,.1);
                    }
                }

                &.no-records {
                    text-align: center;
                }
            }
        }
    }

    .form-group {
        width: 100%;
        margin-bottom: 0;
        min-width: 140px;

        .control {
            width: 100%;
        }

        &.datagrid-filters {
            margin-bottom: 20px;
            
            input[type=search].control {
                margin: 0px;
                width: 280px;
                height: 40px;
                font-size: 15px;
            }
        }
    }

    .dropdown-container {
        width: 100%;
        padding: 0px;
        position: relative;
        margin-bottom: 0px;

        &.dropdown-list {
            ul {
                position: absolute;
                padding: 15px;
                margin-bottom: 20px;
                background-color: $white;
                width: 100%;
                margin-top: 10px;
                
                li {
                    .form-group {
                        margin-bottom: 15px;
                    }
                }
            }
        
            .apply-filter {
                padding: 10px;
                width: 100%;
            }
        }
    }

    .filtered-tags {
        margin: 20px 0 0 0;

        .filter-tag {
            grid-gap: 5px;
            margin-right: 20px;
            width: max-content;
            text-transform: capitalize;
            @include display-grid(repeat(2, auto));
            display: inline-grid;
    
            .wrapper {
                font-size: 14px;
                grid-gap: 10px;
                color: #000311;
                line-height: 40px;
                padding: 0px 10px;
                background: #E7E7E7;
                @include border-radius(2px);
                @include display-grid(auto 20px);
                display: inline-grid;
                
                .icon.close-icon {
                    top: -2px;
                    cursor: pointer;
                    position: relative;
                }
            }
        }
    }

    .search-filter {
        margin-right: 6px;
        position: relative;
        width: max-content;
        display: inline-block;

        .input-search-icon {
            left: 7px;
            top: 10px;
            z-index: 1;
            position: absolute;
    
            ~ input[type=search] {
                padding-left: 30px;
            }
        }

        .control {
            margin: 0;
            width: 280px;
            height: 40px;
            font-size: 15px;
            padding-left: 10px;
            -webkit-appearance: none;
            color: $secondary-font-color;
            border: 1px solid $border-color;
        }

        .contorl:focus {
            border-color: $brand-color;
        }

        .icon-wrapper {
            width: 36px;
            height: 36px;
            padding: 3px;
            float: right;
            border-radius: 3px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border: 2px solid $control-border-color;
        }
    }

    .datagrid-filters {
        width: 100%;
        @include display-grid(repeat(2, auto));

        .filter-right {
            text-align: right;

            .pagination {
                height: 40px;
                margin-right: 6px;
                display: inline-block;

                .page-item {
                    .icon {
                        top: 10px;
                        vertical-align: top;
                    }
                }
            }

            .filter-btn {
                cursor: pointer;
                display: inline-block;

                .grid-dropdown-header {
                    width: 105px;
                    height: 40px;
                    border-radius: 3px;
                    align-items: center;
                    display: inline-flex;
                    vertical-align: middle;
                    padding: 0px 7px 0px 10px;
                    background-color: $white;
                    color: $secondary-font-color;
                    justify-content: space-between;
                    font-weight: $font-weight-medium;
                    border: 1px solid $secondary-font-color;
                
                    .arrow-icon-down {
                        float: right;
                    }
                }
            }
        }

        .dropdown-filters {
            margin-right: 6px;
            display: inline-block;
            
            &.per-page {
                .form-group {
                    grid-gap: 10px;
                    @include display-grid(repeat(2, auto));

                    .control {
                        margin: 0;
                        height: 40px;
                        border: 1px solid $gray-color;
                    }
                }
            }
        }

        .form-group {
            font-size: 16px;

            .control {
                font-size: 16px;
            }
        }
    }

    .tabs-container {
        margin: 20px 0;
        @include display-grid(repeat(2, auto));

        .tabs-right-container {
            text-align: right;
    
            section {
                display: inline-block;
            }
    
            .covered {
                border: 1px solid;
                padding: 7px ​10px;
            }

            .group {
                vertical-align: top;
            }
        }
    }

    .mass-actions {
        width: max-content;
        display: inline-block;

        .control {
            margin: 0;
            height: 40px;
            width: 140px;
            font-size: 16px;
            padding: 9px 10px;
        }

        button {
            height: 40px;
            vertical-align: middle;
        }
    }
}

.pagination {
    margin-top: 20px;
    
    .page-item {
        height: 100%;
        margin-right: 5px;
        background: $white;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 0 9px 0 9px;
        font-size: $font-size-md;
        border: 1px solid $border-color;

        &.previous {
            border-radius: 3px 0 0 3px;
        }

        &.next {
            border-radius: 0 3px 3px 0;
        }

        &.disabled {
            cursor: not-allowed !important;
        }

        &.active {
            color: $white;
            background: $brand-color;
            border-color: $brand-color;
        }

        .icon {
            top: 4px;
            position: relative;
            vertical-align: middle;
        }
    }
    
    &.tab-view {
        height: 34px;
        margin-top: 0;

        .previous {
            float: left;
            border-right: 0;
        }

        .previous,
        .next {
            margin: 0;
            cursor: pointer;
        }
    }

    &.full-view {
        margin-top: 120px;
    }

    i, a {
        font-weight: 700;
        font-size: 16px !important;
    }
}

.form-group,
.field-container {
    display: block;
    margin-bottom: 20px;
    font-size: $font-size-lg;
    color: $secondary-font-color;
    width: 100%;
    position: relative;

    label {
        display: block;
        font-size: $font-size-md;

        &.required::after {
            content: "*";
            font-weight: 700;
            padding-left: 4px;
            color: $danger-color;
            display: inline-block;
        }
    }

    textarea.control {
        height: 100px;
        padding: 10px;
    }

    .control {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        background: $white;
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size-lg;
        @include border-radius(3px);
        color: $secondary-font-color;
        border: 1px solid $border-color;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: $primary-color;
        }

        &[disabled="disabled"] {
            border-color: $gray-color;
            background-color: $gray-color;
            cursor: not-allowed;
        }

        &[multiple] {
            height: 100px;
        }
    }

    .control-faker {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        @include border-radius(3px);
        border: 1px solid $border-color;
    }

    &.date,
    &.datetime,
    &.time {
        .control {
            padding-right: 40px;
        }

        .date-container,
        .datetime-container,
        .time-container {
            position: relative;
            
            &::after {
                background-image: url("../images/calendar-icon.svg");
                width: 24px;
                height: 24px;
                content: "";
                margin-left: -34px;
                pointer-events: none;
                position: absolute;
                right: 10px;
                top: 29px;
                margin-top: -9px;
            }
        }

        .time-container {
            &::after {
                background-image: url("../images/time-icon.svg");
            }
        }
    }

    .control-info {
        display: block;
        font-size: $font-size-md;
        color: #adadad;
        font-style: italic;
    }

    .control-error {
        display: none;
        color: $danger-color;
        margin-top: 5px;
    }

    &.has-error {
        .control:not([aria-invalid='false']) {
            border-color: $danger-color;
        }

        .control-error {
            width: 100%;
            display: block;
        }

        &.hide-error {
            input {
                border: 1px solid $gray-color !important;
            }

            .control-error {
                display: none !important;
            }
        }
    }


    .address-left {
        width: 50%;
        padding-right: 5px;
        float: left;

        .control {
            height: 204px;
            margin-bottom: 0;
        }
    }

    .address-right {
        width: 50%;
        padding-left: 5px;
        display: inline-block;

        .control {
            margin-bottom: 0;
        }
    }

    &.input-group {
        margin-bottom: 0;
    }

    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;

        .input-group-append,
        .input-group-prepend {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        > .control,
        > .date-container,
        > .datetime-container {
            position: relative;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1% !important;
    
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        
            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        > .date-container,
        > .datetime-container {
            &:not(:first-child) {
                margin-left: 10px;
            }
        
            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        .input-group-prepend {
            margin-right: -1px;

            .control,
            .btn {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    
        .input-group-append {
            margin-left: -1px;

            .control,
            .btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .trash-icon {
            margin-top: 21px;
            margin-left: 7px;
            cursor: pointer;
        }
    }

    .loader-active-icon {
        position: absolute;
        right: 4px;
        top: 14px;
    }
}

.checkbox {
    position: relative;
    display: inline-block;
    margin: 10px 5px 5px 0px;

    .checkbox-view,
    .checkbox-dash {
        margin: 0;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        vertical-align: middle;
        display: inline-block !important;
        background-image: url("../images/checkbox-icon.svg");
    }

    .checkbox-dash {
        background-image: url("../images/checkbox-dash-icon.svg");
    }

    input {
        position: absolute;
        width: 24px;
        height: 24px;
        opacity: 0;
        z-index: 100;

        &:checked + .checkbox-view {
            background-image: url("../images/checkbox-checked-icon.svg");
        }

        &:disabled + .checkbox-view {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.radio {
    position: relative;
    display: block;
    margin: 10px 5px 5px 0px;

    .radio-view {
        background-image: url("../images/radio-icon.svg");
        height: 24px;
        width: 24px;
        margin: 0;
        display: inline-block !important;
        vertical-align: middle;
        margin-right: 5px;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 100;

        &:checked + .radio-view {
            background-image: url("../images/radio-checked-icon.svg");
        }

        &:disabled + .radio-view {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.form-group {
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-top: 10px;
        margin-bottom: 5px;

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $gray-color;
            -webkit-transition: .2s;
            transition: .2s;

            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: $white;
                -webkit-transition: .2s;
                transition: .2s;
            }

            &.round {
                border-radius: 34px;
            }

            &.round:before {
                border-radius: 50%;
            }
        }

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
                background-color: $primary-color;
            }

            &:focus + .slider {
                box-shadow: 0 0 1px $primary-color;
            }

            &:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
    }
}

.alert-wrapper {
    width: 100%;
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 100;

    .alert {
        width: 648px;
        position: relative;
        left: 50%;
        margin-bottom: 10px;
        margin-left: -324px;
        padding: 15px 44px 15px 44px;
        @include border-radius(3px);
        display: block;
        @include box-shadow(
            0px 4px 15.36px 0.64px rgba(0, 0, 0, 0.1),
            0px 2px 6px 0px rgba(0, 0, 0, 0.12)
        );
        animation: jelly 0.5s ease-in-out;
        transform-origin: center top;
        z-index: $font-weight-medium;
        text-align: left;

        &.error {
            background: $danger-color;
        }

        &.info {
            background: $info-color;
        }

        &.success {
            background: $success-color;
        }

        &.warning {
            background: $warning-color;
        }

        .icon {
            position: absolute;

            &:first-child {
                left: 10px;
                top: 15px;
            }

            &:last-child {
                right: 10px;
                top: 10px;
                cursor: pointer;
            }
        }

        p {
            color: $white;
            margin: 0px;
            font-size: $font-size-md;
        }
    }
}

.tabs {
    ul {
        li {
            display: inline-block;

            a {
                color: $secondary-font-color;
                font-weight: $font-weight-medium;
                cursor: pointer;
                padding: 10px 30px;
                text-align: center;
                display: block;
                @include user-select(none);
            }

            &.has-error {
                a {
                    color: $danger-color;
                }
            }

            &.active a {
                color: $primary-color;
                box-shadow: inset 0px -2px 0px $primary-color;
            }
        }
    }
}

.tabs-content {
    border: none;
    padding: 30px;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.pill {
    height: 34px;
    display: inline-block;

    .tabs {
        ul {
            li {
                font-size: $font-size-md;

                &:first-child {
                    a {
                        padding-left: 0px;
                    }
                }

                a {
                    padding: 6px 15px;
                }

                &.active {
                    a {
                        color: $white;
                        padding: 5px 15px;
                        border-radius: 22px;
                        background: $primary-color;
                    }
                }
            }
        }
    }
}

.group {
    height: 34px;
    display: inline-block;

    .tabs {
        ul {
            li {
                font-size: $font-size-md;
                border: 1px solid $border-color;

                &:not(:last-child) {
                    border-right: 0px;
                }
    
                &.active {
                    background: $primary-color;
                    border-radius: 0 !important;

                    a {
                        color: $white;
                    }
                }
    
                a {
                    padding: 5px 10px;
                }
            }
        }
    }
}

accordian,
.accordian {
    display: inline-block;
    width: 100%;

    .accordian-header,
    div[slot*="header"] {
        width: 100%;
        padding: 15px 30px;
        margin-top: -1px;
        display: inline-block;
        color: $secondary-font-color;
        font-size: $font-size-lg;
        font-weight: $font-weight-medium;
        border-bottom: solid 1px $border-color;
        cursor: pointer;
        @include user-select(none);

        h1 {
            margin: 0;
            font-weight: $font-weight-medium;
            display: inline-block;
        }

        .icon {
            float: right;

            &.left {
                float: left;
            }
        }
    }

    &.has-error {
        .accordian-header {
            color: $danger-color;
        }
    }

    .accordian-content,
    div[slot*="body"] {
        width: 100%;
        padding: 30px;
        border: 1px solid #d3d3d3;
        border-top: 0;
        display: none;
    }

    &.active > .accordian-content {
        display: inline-block;
    }
}

.panel {
    .panel-header {
        padding: 16px 0;
        font-size: 18px;
        color: $dark-color;
        color: $secondary-font-color;
        font-weight: $font-weight-medium;
    }

    .panel-body {
        border: none;
        padding: 16px;
        border-radius: 3px;
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
}

modal {
    display: none;
}

.modal-overlay {
    display: none;
    overflow-y: auto;
    z-index: 10;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background: $dark-color;
    opacity: 0.5;
}

.modal-container {
    background: $white;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    max-width: 80%;
    max-height: 80%;
    z-index: 11;
    overflow-y: auto;
    overflow-x: hidden;
    animation: jelly 0.5s ease-in-out;
    @include border-radius(8px);

    .modal-header {
        z-index: 10;
        width: inherit;
        position: relative;
        background: $white;
        padding: 20px 20px 10px 20px;
        @include display-grid(repeat(2, auto));
        border-bottom: 1px solid $border-color;

        h3 {
            margin: 0;
            display: table-cell;
            vertical-align: middle;
            font-weight: $font-weight-medium;
        }

        h2 {
            margin: 0;
            display: inline-block;
        }

        .header-actions {
            text-align: right;

            .icon {
                cursor: pointer;
            }
        }
    }

    .modal-body {
        // top: 75px;
        padding: 30px;
        position: relative;

        .tabs-content {
            box-shadow: none;
        }
    }
}

.modal-open {
    overflow: hidden;

    .modal-overlay {
        display: block;
    }
}

.badge {
    @include border-radius(4px);
    border: none;
    color: $white;
    font-size: $font-size-md;
    display: inline-block;
    border: 2px solid transparent;

    &.badge-pill {
        padding: 2px 8px;
    }

    &.badge-sm {
        padding: 2px 8px;
    }

    &.badge-md {
        padding: 4px 10px;
    }

    &.badge-lg {
        padding: 6px 12px;
    }
    
    &.badge-xl {
        padding: 8px 14px;
    }

    &.badge-pill {
        @include border-radius(10rem);
    }

    &.badge-primary {
        background: $primary-color;
        color: $white;
    }

    &.badge-primary-outline {
        background: $white;
        color: $primary-color;
        border: 2px solid $primary-color;
    }

    &.badge-secondary {
        background: $secondary-color;
        color: $white;
    }

    &.badge-secondary-outline {
        background: $white;
        color: $secondary-color;
        border: 2px solid $secondary-color;
    }

    &.badge-danger {
        background: $danger-color;
        color: $white;
    }

    &.badge-danger-outline {
        background: $white;
        color: $danger-color;
        border: 2px solid $danger-color;
    }

    &.badge-success {
        background: $success-color;
        color: $white;
    }

    &.badge-success-outline {
        background: $white;
        color: $success-color;
        border: 2px solid $success-color;
    }

    &.badge-warning {
        background: $warning-color;
        color: $white;
    }

    &.badge-warning-outline {
        background: $white;
        color: $warning-color;
        border: 2px solid $warning-color;
    }

    &.badge-white {
        background: $white;
        color: $primary-color;
    }

    &.badge-white-outline {
        background: $white;
        color: $primary-color;
        border: 2px solid $primary-color;
    }

    &.badge-round {
        padding: 0;
        width: 8px;
        height: 8px;
        margin-right: 5px;
    }
}

.overlay-loader {
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
}

.tooltip {
    display: block !important;
    z-index: 10000;

    &.hide {
        display: none !important;
    }

    .tooltip-inner {
        background: $primary-color;
        color: $white;
        border-radius: 4px;
        padding: 5px 10px 4px;
        font-size: $font-size-md;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: $primary-color;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.sidebar-filter {
    top: 0;
    z-index: 10;
    width: 420px;
    height: 100vh;
    right: -420px;
    position: fixed;
    overflow-y: scroll;
    display: inline-block;
    background-color: $white;
    padding: 30px 15px 30px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    &.show {
        right: 0;
    }

    header {
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid $border-color;

        h1 {
            padding: 0;
            margin: 0;
            font-weight: 400;
            @include display-grid(repeat(2, auto));

            .right {
                text-align: right;

                label {
                    cursor: pointer;
                    margin-right: 20px;
                    color: $primary-color;
                    display: inline-block;
                    font-size: $font-size-lg;
                }
                
                i.close-icon {
                    vertical-align: middle;
                }
            }
        }
    }

    .field-container {
        margin-bottom: 10px;
        padding-right: 25px;
        position: relative;

        label {
            font-weight: 500;
        }

        .control {
            font-size: 16px;
            max-height: 40px;

            &.half {
                width: 151px;
            }
        }

        .middle-text {
            margin: 0 8px;
        }

        .date-container {
            display: inline-block;
        }

        .enter-new {
            width: 100%;
            display: inline-block;

            input {
                width: 100%;
            }
        }

        > i {
            &.close-icon {
                position: absolute;
                top: 17px;
                right: 0;
            }
        }
    }

    .selected-options {
        margin-top: 10px;

        .badge {
            margin-bottom: 10px;
            color: $secondary-font-color;
            background-color: $light-background-color;
        }
    }

    .form-group {
        margin-bottom: 20px;
    }

    i {
        &.close-icon,
        &.add-icon {
            cursor: pointer;
        }
    }
}

.tree-wrapper {
    .icon {
        margin-right: 10px;
    }

    .checkbox {
        margin-top: 0px !important;
        margin-bottom: 15px !important;
    }

    .tree-item {
        padding-left: 30px;

        &.active {
            > .arrow-down-icon {
                background-image: url("../images/arrow-down-icon.svg");
            }
        }

        > .arrow-down-icon {
            cursor: pointer;
            background-image: url("../images/arrow-right-icon.svg");
        }
    }

    .tree-container {
        >.tree-item {
            padding: 0;
        }

        .tree-item {
            >.tree-item {
                display: none;
            }

            &.active {
                >.tree-item {
                    display: block;
                }
            }
        }
    }
}

ol.breadcrumb {
    list-style: none;
    padding: 0;
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
    margin-top: 0;
    margin-bottom: 5px;

    li.breadcrumb-item {
        display: inline-block;

        &+.breadcrumb-item::before {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
            content: "/";
        }
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.ml-10 {
    margin-left: 10px;
}

.pl-0 {
    padding-left: 0 !important;
}

.fs-18 {
    font-size: $font-size-lg !important;
}

.tags-control {
    height: 43px;
    padding: 4px !important;

    ul.tags {
        display: flex;

        li {
            float: left;

            &.tag-choice {
                white-space: nowrap;
                user-select: none;
                font-size: $font-size-sm;
                margin-right: 10px;
                padding: 4px 8px;
                border-radius: 30px;
                color: $font-color;
                background-color: $light-background-color;
            }

            &.tag-input {
                margin: 0;
                padding: 0;
                flex: 1 1 20px;
                white-space: nowrap;

                input {
                    width: 100%;
                    color: #546E7A;
                    font-size: $font-size-lg;
                    padding: 6px 10px;
                    outline: 0;
                    border: 0;
                }
            }
        }
    }
}

.attachment-wrapper {
    .attachment-item {
        margin-bottom: 10px;

        span {
            display: inline-block;
            padding: 8px 5px;
            border: 2px solid $secondary-color;
            
            input {
                display: none;
            }

            .icon {
                cursor: pointer;
            }
        }
    }

    .add-attachment-link {
        font-size: $font-size-lg;
        margin-top: 10px;
        display: inline-block;
    }
}

.row-grid-3 {
    grid-row-gap: 15px;
    grid-auto-rows: auto;
    grid-column-gap: 15px;
    @include display-grid(repeat(3, 1fr));
}

.bar {
    height: 10px;
    background-color: $table-active-cell-color;

    > div {
        height: 10px;
        transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

        &.primary {
            background-color: $primary-color;
        }
    
        &.warning {
            background-color: $warning-color;
        }
    
        &.success {
            background-color: $success-color;
        }
    
        &.danger {
            background-color: $danger-color;
        }
    }
}

.spinner-container {
    width: 100%;
    text-align: center;
    position: relative;
    top: calc(50% - 24px);
    
    .meter {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        border: solid 6px $primary-color;
        
        &:before{
            top: 5px;
            width: 6px;
            height: 20px;
            content: " ";
            text-align: center;
            border-radius: 3px;
            position: absolute;
            display: inline-block;
            box-sizing: border-box;
            background-color: $primary-color;
            transform-origin: center bottom;
            animation: meter-animate-before 1s linear infinite;
        }
    }

    &.full-page {
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.7);

        .meter {
            top: 50%;
            position: relative;

            &:before {
                top: 0;
            }
        }
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.display-grid {
    display: grid;
}

.column-grid-2 {
    grid-gap: 10px;
    @include display-grid(repeat(2, auto));
}

.bar-chart,
.line-chart {
    canvas {
        ~ img {
            display: none;
        }
    }
}