.cursor-pointer {
    cursor: pointer;
}

.m-0 {
    margin: 0 !important;
}

.mr-20 {
    margin-right: 20px;
}

.text-right {
    text-align: right;
}

.d-inline-block {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fs-16 {
    font-size: 16px;
}