@font-face {
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Roboto-Regular.ttf');
}