@import "icons";
@import "variables";
@import "mixins";
@import "kanban";

body {
    margin: 0;
    position: static;
    height: 100%;
    width: 100%;
    background: $body-background;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.navbar-top {
    height: 60px;
    background-color: $white;
    font-size: 0;
    @include box-shadow(inset 0px -1px 0px #CDCECF);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;

    .navbar-top-left {
        width: 50%;
        height: 60px;
        display: inline-block;
        vertical-align: middle;

        .brand-logo {
            padding: 10px 5px;
        }
    }

    .navbar-top-right {
        width: 50%;
        height: 60px;
        padding: 10px;
        text-align: right;
        display: inline-block;
        vertical-align: middle;

        .profile-info {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            position: relative;
            cursor: pointer;

            .avatar {
                width: 42px;
                height: 42px;
                border-radius: 43px;
                background-color: $body-background;
                border: 1px solid $border-color;
                text-align: center;
                padding: 8px;
            }

            .dropdown-list {
                top: 50px;
                right: 0px;
                bottom: inherit !important;
            }
        }
    }
}

.navbar-left {
    left: 0;
    bottom: 0;
    top: 60px;
    z-index: 2;
    width: 48px;
    height: auto;
    position: fixed;
    background-color: $white;
    box-shadow: inset -1px 0px 0px #CDCECF;
    // transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    ul.menubar {
        // padding-bottom: 60px;

        li.menu-item {
            font-size: $font-size-sm;
            position: relative;
            overflow: hidden;

            > a {
                padding: 16px 12px;
                display: block;
                color: $secondary-font-color;
                width: 100%;

                .icon {
                    display: inline-block;
                    vertical-align: middle;
                }

                .menu-label {
                    display: none;
                    margin-left: 10px;
                }
            }

            span {
                display: block;
                margin: auto;
            }

            ul.sub-menubar {
                display: none;
                min-width: 150px;
                position: absolute;
                top: 0;
                left: 48px;
                background-color: $white;
                box-shadow: 2px 1px 3px #CDCECF;
                border: 1px solid #eee;
                border-left: 0;
                border-radius: 0 3px 3px 0;
                
                li.sub-menu-item {
                    a {
                        display: block;
                        padding: 8px 12px;
                        color: $secondary-font-color;
                        font-size: $font-size-sm;
                    }

                    &.active, &:hover {
                        a {
                            color: $primary-color;
                        }
                    }
                }
            }

            &.active, &:hover {
                box-shadow: inset 4px 0px 0px $primary-color;

                a {
                    color: $primary-color;
                }
            }

            &:hover {
                overflow: visible;

                ul.sub-menubar {
                    display: block;
                }
            }
        }
    }

    &.open {
        width: 150px;

        ul.menubar {
            li.menu-item {
                a {
                    .menu-label {
                        display: inline-block;
                    }
                }

                ul.sub-menubar {
                    display: none;
                    position: unset;
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: unset;
                    border: 0;
                
                    li.sub-menu-item {
                        a {
                            padding-left: 45px;
                        }
                    }
                }

                &.active {
                    ul.sub-menubar {
                        display: block;
                    }
                }
            }
        }
    }

    .menubar-bottom {
        bottom: 0;
        padding: 12px;
        cursor: pointer;
        position: absolute;
        width: calc(100% - 1px);
        background-color: $white;
    }
}

.content-container {
    padding-left: 48px;
    position: absolute;
    margin-top: 60px;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0px;
    height: calc(100% - 60px);
    width: 100%;
    // transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    .inner-section {
        height: 100%;
    }

    .aside-nav {
        width: 280px;
        position: fixed;
        top: 60px;
        bottom: 0;
        border-right: 1px solid $border-color;
        background-color: $white;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 4;

        ul {
            overflow-y: auto;
            height: 90%;
        }

        a {
            padding: 15px;
            display: block;
            color: #000311;
        }

        .active {
            a {
                background: $white;
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
            }

            i {
                float: right;
            }
        }
    }

    .content-wrapper {
        padding: 25px 25px 25px 15px;
        margin-left: 280px;
        margin-top:1px;
        background-color: $white;
    }

    .content {
        &.full-page {
            padding: 25px;
        }

        .page-header {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            z-index: 3;

            .page-title {
                display: inline-block;

                .back-link {
                    float: left;
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    margin-top: 5px;
                }

                h1 {
                    margin-bottom: 0;
                    vertical-align: middle;
                    display: inline-block;
                    line-height: initial;
                    font-weight: $font-weight-regular;
                }
            }

            .page-action {
                float: right;

                * {
                    display: inline-block;
                }

                a {
                    margin-left: 25px;
                }
            }

            .form-group {
                width: 180px;
                display: inline-block;
                margin-bottom: 0;
                margin-left: 20px;
            }

            .control {
                width: 100%;
                margin: 0;
            }
        }

        .page-content {
            width: 100%;
            display: inline-block;
        }
    }
}

.control-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 750px;

    .control {
        background: $white;
        border: 2px solid #c7c7c7;
        @include border-radius(3px);
        width: 150px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0px 10px;
        font-size: $font-size-md;

        &:focus {
            border-color: #0041ff;
        }
    }

    .icon:hover {
        cursor: pointer;
    }

    .form-group::last-child {
        margin-right: 0px;
    }
}

// Anonymous layout styles
.anonymous-layout-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    z-index: 1;
    background: $body-background;

    .center-box {
        display: table-cell;
        vertical-align: middle;

        .adjacent-center {
            width: 476px;
            display: inline-block;
            text-align: left;

            .brand-logo {
                text-align: center;
                margin-bottom: 40px;

                img {
                    width: 280px;
                    height: auto;
                }

                p {
                    font-size: $font-size-xl;
                    color: $secondary-font-color;
                    margin: 0;
                }
            }

            .panel {
                .panel-body {
                    border: 0;
                    padding: 48px;

                    h1 {
                        font-size: 24px;
                        font-weight: $font-weight-medium;
                        color: $secondary-font-color;
                        margin-bottom: 30px;
                    }

                    .form-group {
                        .control {
                            width: 100%;
                        }
                    }

                    a {
                        font-size: $font-size-sm;
                        margin-top: -15px;
                        margin-bottom: 30px;
                        display: block;
                    }

                    button.btn {
                        width: 100%;
                        font-size: $font-size-xxl;
                    }
                }
            }
        }
    }
}

.adjacent-center {
    .page-header {
        width: 1000px !important;
        display: block !important;
        margin: auto;
    }

    .page-content {
        width: 1000px !important;
        display: block !important;
        margin: auto;

        .nav-aside {
            width: 190px;
            float: left;
        }

        .panel {
            overflow: hidden;

            .panel-header {
                button.btn {
                    margin-right: 30px;

                    .icon {
                        margin-right: 5px;
                    }
                }

                input[type=submit] {
                    color: $secondary-font-color;
                    background: transparent;
                    font-size: 18px;
                    font-weight: $font-weight-medium;
                    font-family: $font-family;
                    padding: 0;
                    margin-right: 30px;
                    border: 0;
                    cursor: pointer;
                }

                a {
                    color: inherit;
                    margin-right: 30px;
                }
            }
        }
    }
}

.dragable-container {
    ul.dragable-list {
        li.list-group-item {
            margin-bottom: 10px;
            position: relative;

            &.sortable-ghost {
                .form-group {
                    .control {
                        border-style: dashed;
                    }
                }
            }

            .form-group {
                margin: 0;
                padding-right: 40px;

                .control {
                    margin: 0;
                }

                .icon.align-justify-icon {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    right: 45px;
                    top: 5px;
                    cursor: pointer;
                }
            }

            .icon.trash-icon {
                width: 24px;
                height: 24px;
                cursor: pointer;
                position: absolute;
                right: 5px;
                top: 5px;
            }
        }
    }

    button.btn {
        margin-top: 10px;
    }
}

.lookup-results {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 0 9px 0 rgba(0, 0, 0, 0.16);
    z-index: 10;
    text-align: left;
    border-radius: 3px;
    background-color: $white;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

    li {
        padding: 5px 0px;
        cursor: pointer;

        &.action {
            border-top: 1px solid $border-color;
        }

        span {
            padding: 5px 10px;
            display: inline-block;
            width: 100%;

            &:hover {
                background-color: $primary-color;
                color: $white;
            }
        }
    }
}

.modal-container {
    .tabs-content {
        border: 0;
        border-top: 1px solid $border-color;
    }
}

.lead-product-list {
    .lead-product {
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid $border-color;

        &:first-of-type {
            padding-top: 0;
        }

        .top-control-group {
            width: 100%;
            display: inline-block;

            .form-group {
                margin-bottom: 10px;
            }
        }

        .bottom-control-group {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
            justify-items: center;
            grid-auto-rows: auto;
            grid-column-gap: 10px;
            grid-row-gap: 0;
            padding-right: 28px;
            position: relative;

            .form-group {
                margin-bottom: 0;
            }

            .icon.trash-icon {
                position: absolute;
                right: 0;
                top: 44px;
                cursor: pointer;
            }
        }
    }

    a.add-more-link {
        margin-top: 20px;
        display: block;
    }
}

.page-content.lead-view {
    .lead-content-left {
        float: left;
        width: 30%;
        padding-right: 10px;

        .panel {
            margin-bottom: 20px;
        }
    }

    .lead-content-right {
        width: 70%;
        padding-left: 10px;
        float: left;

        .tabs-content {
            margin-bottom: 20px;
        }
    }
}

.custom-attribute-view {
    .attribute-value-row {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        padding: 10px 0;
        padding-right: 30px;
        position: relative;

        .label {
            color: $secondary-font-color;
            width: 35%;
            float: left;
        }

        .value {
            float: left;
            padding-left: 10px;
            width: calc(65% - 10px);

            span.multi-value {
                border-radius: 30px;
                padding: 4px 8px;
                background: #F7F8F9;
                margin-bottom: 5px;
                display: inline-block;

                span {
                    color: #747678;
                    font-size: 16px;
                }
            }

            .image {
                width: 100px;
                height: 100px;
                border: 1px solid;
                border-radius: 4px;
            }
        }

        .icon.pencil-underline-icon {
            cursor: pointer;
            position: absolute;
            right: 5px;
            display: none;
        }

        .dropdown-list {
            right: 0;
            width: 100%;
        }

        &:hover {
            // background-color: #f7f7f7;

            .icon.pencil-underline-icon {
                display: inline-block;
            }
        }
    }
}

.form-group {
    .image {
        position: absolute;
        top: 36px;
        right: 0;
        height: 33px;
        width: 33px;
        border-radius: 3px;
        margin-right: 5px;
    }

    .icon.download-icon {
        position: absolute;
        top: 40px;
        right: 10px;
    }
}

.activity-list {
    .planned-activities {
        margin-bottom: 50px;

        &.note,
        &.file {
            display: none;
        }
    }

    .section-tag {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;

        span {
            color: $secondary-font-color;
            font-weight: $font-weight-medium;
            position: absolute;
            top: -11px;
            background: #fff;
            padding-right: 10px;
        }

        hr {
            margin: 0;
            border-top: 1px solid $border-color;
        }
    }
    
    .activity-item {
        margin-bottom: 20px;
        text-align: left;
        position: relative;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }

        .title {
            color: $secondary-font-color;
            font-size: $font-size-md;
            margin-bottom: 5px;

            .icon {
                cursor: pointer;
                float: right;
                text-align: center;
                border-radius: 4px;

                &:hover {
                    background-color: rgba(38, 41, 44, 0.05)
                }
            }

            .dropdown-list {
                right: 0;
            }
        }

        .attachment {
            font-size: 16px;
            margin-bottom: 10px;
            margin-top: 5px;
            display: inline-block;

            .icon {
                margin-left: -3px;
                margin-right: 5px;
            }
        }

        .comment {
            font-size: $font-size-md;
            padding: 15px;
            margin-bottom: 5px;
            background-color: #FFF9C4;
            position: relative;
            border: solid 1px #FDD835;
            border-radius: 4px;
        }

        .info {
            color: #747678;
            font-size: $font-size-sm;

            .seperator {
                margin: 0 5px;
                width: 8px;
                display: inline-block;
                cursor: default;
                text-align: center;
                font-weight: 700;
            }
        }
    }

    .empty-activities {
        text-align: center;
        font-size: 16px;
        color: #546E7A;
    }
}

.dashboard {
    > h1 {
        margin-bottom: 35px;
        display: inline-block;

        ~ .cards-collection {
            margin: 0;
            float: right;
            width: 200px;
            cursor: pointer;
            border-radius: 3px;
            border: 2px solid $border-color;

            .toggle-btn {
                margin: 0;
                padding: 6px 10px;
                background-color: $white;

                :last-child {
                    float: right;
                }
            }

            .cards-options {
                z-index: 1;
                width: unset;
                border: none;
                position: relative;
                margin-bottom: 0px;

                > div {
                    top: 20px;
                    z-index: 1;
                    width: 100%;
                    position: absolute;
                    padding: 20px 12px;
                    background: $white;
                    box-shadow: 0px 4px 4px rgb(84 110 122 / 25%);
                    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

                    header {
                        margin-bottom: 10px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid $border-color;

                        .btn-secondary-outline {
                            border: none;
                            font-size: 16px;
                            padding-left: 0;
                        }

                        .btn-primary {
                            float: right;
                        }
                    }
                }
            }
        }

        ~ .card-filter-container {
            z-index: 1;
            float: right;
            color: $secondary-color;

            .daterangepicker {
                .btn-success {
                    padding: 10px 14px;
                    background-color: $primary-color;
                }

                .btn-secondary {
                    padding: 10px 14px;
                    background-color: $secondary-color;
                }
            }
        }
    }

    .date {
        text-align: right;

        label,
        .date-container {
            display: inline-block;
        }
    }

    .row-grid-3 {
        padding: 10px;
        
        .card {
            min-height: 300px;
            padding: 30px 20px;
            border-radius: 3px;
            background-color: $white;
            border: 1px solid $border-color;
    
            label {
                display: block;
    
                .card-filter-container {
                    cursor: pointer;
                    margin-left: 5px;
                    display: inline-block;
                    color: $secondary-color;
    
                    .dropdown-toggle {
                        margin-bottom: 5px;
                    }
                }
    
                i.drag-icon {
                    float: right;
                    display: none;
                    cursor: pointer;
                }
            }
    
            .card-data {
                height: 100%;
                max-height: 260px;
                overflow-y: scroll;
    
                &::-webkit-scrollbar {
                    display: none;
                }

                &.full-height {
                    max-height: 100%;
                }
                
                .bar-chart,
                .line-chart {
                    margin-top: 30px;
                }
        
                .bar-data {
                    display: grid;
                    font-size: 14px;
                    margin-top: 30px;
                    color: $font-color;
                    grid-column-gap: 15px;
                    grid-template-columns: 90px auto 90px;
        
                    &.activity {
                        margin-top: 40px;
    
                        > span {
                            &:first-child {
                                text-transform: capitalize;
                            }
                        }
                    }
                }
        
                .lead {
                    margin-top: 20px;
                    color: $secondary-font-color;
        
                    label {
                        font-weight: 500;
                        font-size: 18px;
                    }
        
                    .details {
                        display: grid;
                        padding: 5px 0;
                        font-size: 16px;
                        grid-template-columns: auto auto auto;
                        border-bottom: 1px solid $border-color;
                    }
                }
        
                .email-data {
                    margin-top: 30px;
                    padding-bottom: 5px;
                    display: inline-block;
                    width: calc(50% - 10px);
                    border-bottom: 1px solid $border-color;
    
                    &:nth-child(odd) {
                        margin-right: 10px;
                    }
        
                    &:nth-last-child(1),
                    &:nth-last-child(2) {
                       border: none;
                    }
        
                    span {
                        display: block;
                        text-align: left;
                        color: $secondary-font-color;
        
                        &:first-child {
                            font-weight: 500;
                            font-size: 36px;
                            margin-bottom: 10px;
                        }
        
                        &:last-child {
                            font-size: 16px;
                        }
                    }
                }
        
                .custom-card {
                    text-align: center;
                    position: relative;
                    top: calc(50% - 70px);
                    color: $secondary-color;
    
                    span {
                        display: block;
                    }
    
                    i.icon {
                        width: 96px;
                        height: 96px;
                    }
                }
            }
    
            &.dashed {
                border-style: dashed;
            }
    
            &:hover {
                label {
                    i.drag-icon {
                        display: inline;
                    }
                }
            }
        }
    }
}

.table {
    tr {
        td, th {
            &.subject {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;

                .subject-wrapper {
                    display: flex;
                    align-items: center;
                    
                    .subject-content {
                        max-width: 100%;
                        flex: 0 0 auto;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: $font-weight-medium;
                    }

                    .reply {
                        flex: 0 1 auto;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            &.name,
            &.created_at {
                width: 200px;
            }

            &.attachments {
                width: 45px;
            }
        }
    }
}

.banner {
    width: 100%;
    z-index: 10;
    display: none;
    color: $white;
    height: 50px;
    position: fixed;
    max-height: 50px;
    padding: 13px 20px;
    text-align: center;
    background-color: $primary-color;

    .thumbnail {
        width: 20px;
        cursor: pointer;
        margin-right: 10px;
    }

    .hovered-container {
        top: -28px;
        z-index: 10;
        right: 110px;
        display: none;
        position: relative;

        &.show {
            display: inline-block;
        }

        img {
            position: absolute;
        }
    }

    span {
        vertical-align: super;
    }

    i {
        &.close-white-icon {
            float: right;
            cursor: pointer;
        }
    }
}

body {
    &.top-banner {
        .center-box,
        .navbar-top,
        .content-container {
            top: 50px;
        }
        
        .navbar-left {
            top: 110px;
        }

        .center-box {
            position: relative;
        }

        .banner {
            display: inline-block;
        }
    }
}

.email-list {
    .email-item {
        margin-bottom: 40px;

        .email-header {
            margin-bottom: 20px;

            .row {
                color: $secondary-font-color;

                .label {
                    font-weight: $font-weight-regular;
                }

                .value {
                    font-weight: $font-weight-medium;
                }

                .time {
                    float: right;
                    position: relative;
                    width: 215px;
                    text-align: right;

                    > .icon {
                        transform: rotate(90deg);
                        cursor: pointer;
                    }

                    .dropdown-list {
                        .icon {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }

        .email-content {
            color: $secondary-font-color;
            padding: 30px;
            background-color: $white;
            border: 1px solid $border-color;

            .attachment-list {
                margin-top: 30px;

                .attachment-item {
                    display: block;
                    margin-bottom: 10px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        color: $secondary-font-color;
                    }
                }
            }
        }
    }

    .email-action {
        span {
            padding: 8px;
            color: $secondary-font-color;
            font-weight: $font-weight-medium;
            cursor: pointer;

            &.reply-button {
                margin-right: 20px;
            }

            .icon {
                margin-right: 10px;
            }
        }
    }

    .email-form-container {
        .panel {
            .panel-bottom {
                margin-top: 25px;
                
                button.btn {
                    margin-right: 30px;
                }

                label {
                    color: $secondary-font-color;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}

.tags-container {
    margin-left: 10px;
    display: inline-block;
    position: relative;

    .icon.tags-icon {
        vertical-align: middle;
        cursor: pointer;
    }

    ul.tag-list {
        display: inline-block;
        margin-left: 10px;

        li {
            display: inline-block;
            padding: 3px 10px;
            font-size: $font-size-md;
            font-weight: $font-weight-medium;
            color: $white;
            border-radius: 4px;
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }

            .icon {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
    }

    .tag-dropdown {
        top: 35px;
        width: 215px;
        margin-bottom: 20px;
        border: 1px solid #f0f0f0;
        box-shadow: 0 2px 5px 0 rgba(39, 49, 58, 0.15);
        background-color: #FFFFFF;
        position: absolute;
        z-index: 10;
        text-align: left;

        .lookup-results {
            color: $secondary-font-color;
            font-size: $font-size-lg;

            .control-list-item {
                &:hover {
                    background-color: $white;
                }
            }
        }

        .form-group {
            margin: 0 !important;
            padding: 5px 10px;
            width: 100% !important;

            .loader-active-icon {
                right: 15px;
            }
        }

        .form-container {
            padding: 5px 0;


            .form-group {
                .control {
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
            }

            .color-list {
                margin-top: 10px;
                margin-bottom: 5px;

                span {
                    width: 25px;
                    height: 25px;
                    margin-right: 3px;
                    border-radius: 50%;
                    cursor: pointer;
                    display: inline-block;
                    box-shadow: 0px 4px 15.36px 0.75px rgba(0, 0, 0, 0.1), 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
                    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

                    &.active {
                        border: solid 3px #FFFFFF;
                    }
                }
            }

            .button-group {
                border-top: 1px solid $border-color;
                padding-top: 10px;
                display: inline-block;
            
            }
        }
    }
}

.pipeline-stage-container {
    position: relative;
    margin-bottom: 40px;

    .pipeline-stages {
        width: 100%;
        display: flex;
        overflow: hidden;
        border-radius: 4px;
        align-items: center;
        flex-flow: row nowrap;

        &::-webkit-scrollbar {
            display: none;
        }

        .stage {
            background: $gray-color;
            color: $font-color;
            font-weight: $font-weight-medium;
            width: 100%;
            font-size: 12px;
            min-width: 100px;
            color: $font-color;
            text-align: center;
            background: $gray-color;
            font-weight: $font-weight-medium;

            span {
                display: block;
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 7px 5px 7px 22px;

                .icon {
                    float: right;
                }
            }

            &:not(:last-child) {
                position: relative;

                &::before {
                    background: $gray-color;
                    box-shadow: 1px -1px 0 1px #fff, 1px -1px 0 1px #fff;
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -12px;
                    width: 28px;
                    height: 28px;
                    z-index: 1;
                    border-radius: 0 0 0 25px;
                    transform: translateY(-50%) rotate(45deg);
                }
            }

            &.active {
                background-color: $primary-color;
                color: $white;

                &::before {
                    background: $primary-color;
                }
            }

            .dropdown-list {
                right: 0px;
                font-weight: $font-weight-regular;

                ul li {
                    color: $secondary-font-color;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        &.won {
            .stage {
                background-color: $success-color;
                color: $white;

                &::before {
                    background: $success-color;
                }
            }
        }

        &.lost {
            .stage {
                background-color: $danger-color;
                color: $white;

                &::before {
                    background: $danger-color;
                }
            }
        }
    }
}