@import "icons";
@import "variables";
@import "mixins";

body {
    margin: 0;
    position: static;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.navbar-top {
    height: 60px;
    background-color: #fff;
    font-size: 0;
    @include box-shadow(inset 0px -1px 0px #CDCECF);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;

    .navbar-top-left {
        width: 50%;
        height: 60px;
        display: inline-block;
        vertical-align: middle;

        .brand-logo {
            padding: 10px 5px;
        }
    }

    .navbar-top-right {
        width: 50%;
        height: 60px;
        text-align: right;
        display: inline-block;
        vertical-align: middle;

        .profile-info {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            min-width: 50px;
            position: relative;
            padding: 12px 0px;
            margin: 0px 25px 0px 30px;
            font-size: $font-size-md;
            cursor: pointer;
            position: relative;

            .app-version {
                padding: 10px 20px 0px 20px;
                margin-bottom: -10px;
                display: block;
                cursor: default;
                color: #a2a2a2;
            }

            .dropdown-list {
                top: 63px;
                right: 0px;
                bottom: inherit !important;
            }

            .name {
                color: #000311;
                display: block;
                text-align: left;
            }

            .role {
                font-size: $font-size-sm;
                color: #8e8e8e;
                display: block;
                text-align: left;
            }

            i.icon {
                margin-left: 10px;
            }
        }
    }
}

.navbar-left {
    position: fixed;
    left: 0;
    top: 60px;
    width: 48px;
    box-shadow: inset -1px 0px 0px #CDCECF;
    height: auto;
    bottom: 0;
    z-index: 2;
    background-color: #fff;
    // transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    ul.menubar {
        // padding-bottom: 60px;

        li.menu-item {
            font-size: $font-size-sm;
            position: relative;
            overflow: hidden;

            > a {
                padding: 16px 12px;
                display: block;
                color: $secondary-font-color;
                width: 150px;

                .icon {
                    display: inline-block;
                    vertical-align: middle;
                }

                .menu-label {
                    display: none;
                    margin-left: 10px;
                }
            }

            span {
                display: block;
                margin: auto;
            }

            ul.sub-menubar {
                display: none;
                min-width: 150px;
                position: absolute;
                top: 0;
                left: 48px;
                background-color: #fff;
                box-shadow: 2px 1px 3px #CDCECF;
                border: 1px solid #eee;
                border-left: 0;
                border-radius: 0 3px 3px 0;
                
                li.sub-menu-item {
                    a {
                        display: block;
                        padding: 8px 12px;
                        color: $secondary-font-color;
                        font-size: $font-size-sm;
                    }

                    &.active, &:hover {
                        a {
                            color: $primary-color;
                        }
                    }
                }
            }

            &.active, &:hover {
                box-shadow: inset 4px 0px 0px $primary-color;

                a {
                    color: $primary-color;
                }
            }

            &:hover {
                overflow: visible;

                ul.sub-menubar {
                    display: block;
                }
            }
        }
    }

    &.open {
        width: 150px;

        ul.menubar {
            li.menu-item {
                a {
                    .menu-label {
                        display: inline-block;
                    }
                }

                ul.sub-menubar {
                    display: none;
                    position: unset;
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: unset;
                    border: 0;
                
                    li.sub-menu-item {
                        a {
                            padding-left: 45px;
                        }
                    }
                }

                &.active {
                    ul.sub-menubar {
                        display: block;
                    }
                }
            }
        }
    }

    .menubar-bottom {
        padding: 12px;
        position: absolute;
        bottom: 0;
        cursor: pointer;
    }
}

.content-container {
    padding-left: 48px;
    position: absolute;
    margin-top: 60px;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0px;
    height: calc(100% - 60px);
    width: 100%;
    background: $body-background;
    // transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    .inner-section {
        height: 100%;
    }

    .aside-nav {
        width: 280px;
        position: fixed;
        top: 60px;
        bottom: 0;
        border-right: 1px solid $border-color;
        background-color: $white;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 4;

        ul {
            overflow-y: auto;
            height: 90%;
        }

        a {
            padding: 15px;
            display: block;
            color: #000311;
        }

        .active {
            a {
                background: #fff;
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
            }

            i {
                float: right;
            }
        }
    }

    .content-wrapper {
        padding: 25px 25px 25px 15px;
        margin-left: 280px;
        margin-top:1px;
        background-color: #fff;
    }

    .content {
        &.full-page {
            padding: 25px;
        }

        .page-header {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            z-index: 3;

            .page-title {
                float: left;

                .back-link {
                    float: left;
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    margin-top: 5px;
                }

                h1 {
                    margin-bottom: 0;
                    vertical-align: middle;
                    display: inline-block;
                    line-height: initial;
                }
            }

            .page-action {
                float: right;

                * {
                    display: inline-block;
                }

                a {
                    margin-left: 25px;
                }
            }

            .control-group {
                width: 180px;
                display: inline-block;
                margin-bottom: 0;
                margin-left: 20px;
            }

            .control {
                width: 100%;
                margin: 0;
            }
        }

        .page-content {
            width: 100%;
            display: inline-block;
        }
    }
}

.control-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 750px;

    .control {
        background: #fff;
        border: 2px solid #c7c7c7;
        @include border-radius(3px);
        width: 150px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0px 10px;
        font-size: $font-size-md;

        &:focus {
            border-color: #0041ff;
        }
    }

    .icon:hover {
        cursor: pointer;
    }

    .control-group::last-child {
        margin-right: 0px;
    }
}

// Anonymous layout styles
.anonymous-layout-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    z-index: 1;
    background: $body-background;

    .center-box {
        display: table-cell;
        vertical-align: middle;

        .adjacent-center {
            width: 476px;
            display: inline-block;
            text-align: left;

            .brand-logo {
                margin-bottom: 40px;

                img {
                    width: 280px;
                    height: auto;
                }

                p {
                    font-size: $font-size-xl;
                    color: $secondary-font-color;
                    margin: 0;
                }
            }

            .panel {
                .panel-body {
                    border: 0;
                    padding: 48px;

                    h1 {
                        font-size: 24px;
                        font-weight: $font-weight-medium;
                        color: $secondary-font-color;
                        margin-bottom: 30px;
                    }

                    .control-group {
                        .control {
                            width: 100%;
                        }
                    }

                    a {
                        font-size: $font-size-sm;
                        margin-top: -15px;
                        margin-bottom: 30px;
                        display: block;
                    }

                    button.btn {
                        width: 100%;
                        font-size: $font-size-xxl;
                    }
                }
            }
        }
    }
}