// Left Side Menu Icon
%menu-properties {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
}

.icon {
    display: inline-block;
    background-size: cover;
}

.dashboard-icon {
    @extend %menu-properties;
    background-image: url("../images/dashboard-icon.svg");
}

.leads-icon {
    @extend %menu-properties;
    background-image: url("../images/leads-icon.svg");
}

.phone-icon {
    @extend %menu-properties;
    background-image: url("../images/phone-icon.svg");
}

.settings-icon {
    @extend %menu-properties;
    background-image: url("../images/settings-icon.svg");
}

.avatar-icon {
    width: 16px;
    height: 21px;
    background-image: url("../images/avatar-icon.svg");
}

.menu-item.active,
.menu-item:hover {
    .dashboard-icon {
        background-image: url("../images/dashboard-active-icon.svg");
    }

    .leads-icon {
        background-image: url("../images/leads-active-icon.svg");
    }

    .phone-icon {
        background-image: url("../images/phone-active-icon.svg");
    }

    .settings-icon {
        background-image: url("../images/settings-active-icon.svg");
    }
}