.icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
    display: inline-block;
    background-size: cover;

    &.sprite {
        background-size: auto;
        background-repeat: no-repeat;
    }
}

.dashboard-icon {
    background-position: -371px -2px;
    background-image: url("../images/sprite-main.svg");
}

.leads-icon {
    background-position: -130px -2px;
    background-image: url("../images/sprite-main.svg");
}

.quotes-icon {
    background-position: -563px -2px;
    background-image: url("../images/sprite-main.svg");
}

.emails-icon {
    width: 20px;
    height: 18px;
    background-position: -419px -3px;
    background-image: url("../images/sprite-main.svg");
}

.activities-icon {
    width: 17px;
    height: 21px;
    background-position: -324px -2px;
    background-image: url("../images/sprite-main.svg");
}

.phone-icon {
    background-position: -178px -2px;
    background-image: url("../images/sprite-main.svg");
}

.products-icon {
    height: 18px;
    background-position: -227px -3px;
    background-image: url("../images/sprite-main.svg");
}

.settings-icon {
    background-position: -275px -2px;
    background-image: url("../images/sprite-main.svg");
}

.tools-icon {
    background-position: -514px -2px;
    background-image: url("../images/sprite-main.svg");
}

.avatar-icon {
    width: 16px;
    height: 21px;
    background-image: url("../images/avatar-icon.svg");
}

.avatar-dark-icon {
    background-image: url("../images/avatar-dark-icon.svg");
}

.email-send-icon {
    background-image: url("../images/email-send-icon.svg");
}

.table-line-icon {
    background-image: url("../images/table-line-icon.svg");
}

.table-line-active-icon {
    background-image: url("../images/table-line-active-icon.svg");
}

.layout-column-line-icon {
    background-image: url("../images/layout-column-line-icon.svg");
}

.layout-column-line-active-icon {
    background-image: url("../images/layout-column-line-active-icon.svg");
}

.calendar-line-icon {
    background-image: url("../images/calendar-line-icon.svg");
}

.calendar-line-active-icon {
    background-image: url("../images/calendar-line-active-icon.svg");
}

.empty-kanban-icon {
    background-image: url("../images/empty-kanban-icon.svg");
}

.menu-item.active,
.menu-item:hover {
    .dashboard-icon {
        background-position: -347px -2px;
    }

    .leads-icon {
        background-position: -106px -2px;
    }

    .quotes-icon {
        background-position: -539px -2px;
    }

    .emails-icon {
        background-position: -395px -3px;
    }

    .activities-icon {
        background-position: -300px -2px;
    }

    .phone-icon {
        background-position: -154px -2px;
    }

    .products-icon {
        background-position: -203px -3px;
    }

    .settings-icon {
        background-position: -251px -2px;
    }
    
    .tools-icon {
        background-position: -490px -2px;
    }
}

.dollar-circle-icon {
    background-image: url("../images/dollar-circle-icon.svg");
}

.drag-icon {
    background-image: url("../images/drag-icon.svg");
}

.empty-bar-icon {
    background-image: url("../images/empty-bar-icon.svg");
}

.empty-bar-vertical-icon {
    background-image: url("../images/empty-bar-vertical-icon.svg");
}

.ellipsis-icon {
    background-image: url("../images/ellipsis-icon.svg");
}

.attribute-icon {
    background-image: url("../images/attribute-icon.svg");
}

.lead-icon {
    background-image: url("../images/lead-icon.svg");
}

.mail-icon {
    background-image: url("../images/mail-icon.svg");
}

.organization-icon {
    background-image: url("../images/organization-icon.svg");
}

.person-icon {
    background-image: url("../images/person-icon.svg");
}

.product-icon {
    background-image: url("../images/product-icon.svg");
}

.quotation-icon {
    background-image: url("../images/quotation-icon.svg");
}

.group-icon {
    background-image: url("../images/group-icon.svg");
}

.role-icon {
    background-image: url("../images/role-icon.svg");
}

.user-icon {
    background-image: url("../images/user-icon.svg");
}

.source-icon {
    background-image: url("../images/source-icon.svg");
}

.type-icon {
    background-image: url("../images/type-icon.svg");
}

.email-template-icon {
    background-image: url("../images/email-template-icon.svg");
}

.workflow-icon {
    background-image: url("../images/workflow-icon.svg");
}

.tag-icon {
    background-image: url("../images/tag-icon.svg");
}

.pipeline-icon {
    background-image: url("../images/pipeline-icon.svg");
}

