.icon {
    width: 20px;
    height: 20px;
    vertical-align: top;
    display: inline-block;
    background-size: cover;
}

.dashboard-icon {
    background-image: url("../images/dashboard-icon.svg");
}

.leads-icon {
    background-image: url("../images/leads-icon.svg");
}

.emails-icon {
    width: 20px;
    height: 18px;
    background-image: url("../images/emails-icon.svg");
}

.activities-icon {
    width: 17px;
    height: 21px;
    background-image: url("../images/activities-icon.svg");
}

.phone-icon {
    background-image: url("../images/phone-icon.svg");
}

.products-icon {
    height: 18px;
    background-image: url("../images/products-icon.svg");
}

.settings-icon {
    background-image: url("../images/settings-icon.svg");
}

.tools-icon {
    background-image: url("../images/tools-icon.svg");
}

.avatar-icon {
    width: 16px;
    height: 21px;
    background-image: url("../images/avatar-icon.svg");
}

.avatar-dark-icon {
    background-image: url("../images/avatar-dark-icon.svg");
}

.email-send-icon {
    background-image: url("../images/email-send-icon.svg");
}

.table-line-icon {
    background-image: url("../images/table-line-icon.svg");
}

.table-line-active-icon {
    background-image: url("../images/table-line-active-icon.svg");
}

.layout-column-line-icon {
    background-image: url("../images/layout-column-line-icon.svg");
}

.layout-column-line-active-icon {
    background-image: url("../images/layout-column-line-active-icon.svg");
}

.menu-item.active,
.menu-item:hover {
    .dashboard-icon {
        background-image: url("../images/dashboard-active-icon.svg");
    }

    .leads-icon {
        background-image: url("../images/leads-active-icon.svg");
    }

    .emails-icon {
        background-image: url("../images/emails-active-icon.svg");
    }

    .activities-icon {
        background-image: url("../images/activities-active-icon.svg");
    }

    .phone-icon {
        background-image: url("../images/phone-active-icon.svg");
    }

    .products-icon {
        background-image: url("../images/products-active-icon.svg");
    }

    .settings-icon {
        background-image: url("../images/settings-active-icon.svg");
    }
    
    .tools-icon {
        background-image: url("../images/tools-active-icon.svg");
    }
}

.dollar-circle-icon {
    background-image: url("../images/dollar-circle-icon.svg");
}