@import "variables";

$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);

ul.drag-list,
ul.drag-inner-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drag-container {
    margin: 20px auto;
}

.drag-list {
    gap: 20px;
    display: flex;
    color: $secondary-font-color;
    align-items: flex-start;

    @media (max-width: 690px) {
        display: block;
    }
}

.drag-column {
    flex: 1;
    overflow: hidden;
    position: relative;

    @media (max-width: 690px) {
        margin-bottom: 30px;
    }

    .drag-column-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        > div {
            width: 100%;

            h2 {
                margin: 0;
                margin-bottom: 10px;
                font-size: 15px;
                text-transform: uppercase;
                color: $secondary-font-color;

                span {
                    color: $success-color;
                }
            }

            a {
                cursor: pointer;
            }
        }
    }
}

.drag-inner-list {
    height: 50vh;
    min-height: 50px;
    overflow-y: scroll;
    color: $secondary-font-color;

    &::-webkit-scrollbar {
        display: none;
    }

    .drag-item {
        padding: 10px;
        margin: 10px 0;
        line-height: 30px;
        background: $white;
        transition: $ease-out;
        border: 1px solid $body-background;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    
        &.is-moving {
            background: $white;
            transform: scale(1.5);
            
        }

        .lead-title {
            font-size: 16px;
            font-weight: 500;
            color: $font-color;
        }

        .lead-cost {
            color: $font-color;
        }

        .lead-person,
        .lead-cost {
            font-size: 14px;

            .icon {
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }
}

.drag-header-more {
    cursor: pointer;
}

.drag-options {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    transform: translateX(100%);
    opacity: 0;
    transition: $ease-out;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &-label {
        display: block;
        margin: 0 0 5px 0;

        input {
            opacity: 0.6;
        }

        span {
            display: inline-block;
            font-size: 0.9rem;
            font-weight: 400;
            margin-left: 5px;
        }
    }
}

/* Dragula CSS  */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    list-style-type: none;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
}