@import "variables";

$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);

ul.drag-list,
ul.drag-inner-list {
    margin: 0;
    padding: 0 5px 0 5px;
    list-style-type: none;
}

.drag-container {
    margin: 0px;
    overflow: auto;
    height: 100%;

    span div a {
        @include border-radius(4px);

        padding: 10px;
        display: block;
        background: $white;
        text-align: center;
        color: $primary-color;
        border: 2px solid $primary-color;
        box-shadow: rgba(14,144,217, 0.1) 0px 4px 6px -1px, rgba(14,144,217, 0.06) 0px 2px 4px -1px;
    }
}

.drag-list {
    display: grid;
    grid-gap: 10px;
    width: max-content;
    margin-bottom: 10px;
    grid-auto-flow: column;
    height: calc(100% - 10px);
    color: $secondary-font-color;
    grid-auto-columns: minmax(320px, auto);

    @media (max-width: 690px) {
        display: block;
    }
}

.drag-column {
    @include border-radius(4px);

    width: auto;
    margin: 0px;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    background-color: rgba(255,255,255,.5);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    @media (max-width: 690px) {
        margin-bottom: 30px;
    }

    .drag-column-header {
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;

        > div {
            width: 100%;

            h2 {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                color: $dark-color;
                margin-bottom: 10px;

                span {
                    color: $success-color;
                }
            }

            a {
                cursor: pointer;
            }
        }
    }
}

.drag-inner-list {
    height: 100%;
    min-height: 50px;
    overflow-y: scroll;
    height: calc(100% - 110px);
    color: $secondary-font-color;

    &::-webkit-scrollbar {
        display: none;
    }

    .empty-icon-container {
        height: 100%;
        display: block;
        text-align: center;
        position: relative;

        .icon-text-container {
            position: absolute;
            top: calc(50% - 75px);
            left: calc(50% - 49px);

            .empty-kanban-icon {
                width: 98px;
                height: 98px;
            }

            span {
                display: block;
                padding-top: 10px;
            }
        }
    }
}

.drag-item {
    margin: 0px;
    box-shadow: none;
    line-height: 30px;
    background: $white;
    transition: $ease-out;
    border: 1px solid $body-background;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(193, 194, 195, .5);


    .lead-block {
        position: relative;
        padding: 10px;

        &:hover {
            .icons {
                display: inline-block;
            }
        }

        &.rotten {
            background: #ffd0d6;
        }

        .lead-title {
            font-size: 16px;
            font-weight: 500;
            color: $font-color;
            line-break: anywhere;
            display: inline-block;
            width: calc(100% - 45px);
        }
    
        .icons {
            top: 5px;
            right: 5px;
            display: none;
            cursor: pointer;
            position: absolute;
        }
    
        .lead-cost {
            color: $font-color;
        }
    
        .lead-person,
        .lead-cost {
            font-size: 14px;
    
            .icon {
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }
}

.drag-header-more {
    cursor: pointer;
}

.drag-options {
    left: 0;
    opacity: 0;
    top: 44px;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    transform: translateX(100%);
    transition: $ease-out;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &-label {
        display: block;
        margin: 0 0 5px 0;

        input {
            opacity: 0.6;
        }

        span {
            display: inline-block;
            font-size: 0.9rem;
            font-weight: 400;
            margin-left: 5px;
        }
    }
}

/* Dragula CSS  */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    list-style-type: none;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
}

.disable-drag {
    pointer-events: none;
}
